/* ----------------------------- */
/* Reset CSS
/* ----------------------------- */

@charset "UTF-8";
html {
  /* on s'arrange pour que 1rem soit égal à 10px */
  font-size: 62.5%;
  /* IE9-IE11 */
  font-size: calc(1em * 0.625);
}

/* la suite du reset permet d'enlever les marges par défaut créées par les navigateurs */
/* et de donner un comportement plus intuitif aux principaux éléments */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul, menu {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img{
  max-width: 100%;
  height: auto;
}
a{
  color: inherit;
  text-decoration: none;
}
h1, h2, h3, h4, h5{
  font-weight: normal;
}
*[role='button']{
	cursor: pointer;
	user-select: none;
}

/* ----------------------------- */
/* Fonts 
/* ----------------------------- */

@font-face {
    font-family: 'IM FELL Regular';
    src: url('../fonts/IM_FELL_DW_Pica_Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IM FELL Italic';
    src: url('../fonts/IM_FELL_DW_Pica_Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RoutedGothic';
    src: url('../fonts/RoutedGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 1.6rem; /* 1.6rem = 16px dans notre cas */
  line-height: 1.2;
}

/* ----------------------------- */
/* MENU SET UP
/* ----------------------------- */

/* SKULL MENU */

.skull{
  position: absolute;
  top: 30px;
  left: 30px;
  filter: drop-shadow(black 1rem 1rem 10px);
}

.skull:hover{
  filter: invert(100%);
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #e8e8e8; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; 
}

/* The navigation menu links */
.sidenav a {
  font-family: "IM FELL Regular";
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  line-height: 40px;
  color: #111;
  display: block;
  transition: 0.3s;
  text-wrap: nowrap;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  font-family: 'IM FELL Italic';
  color: #A14DA0;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* ----------------------------- */
/* Design général
/* ----------------------------- */

/* TITLE */

h2{
  font-family: 'IM FELL Regular' ;
  position: absolute;
  top: 30px;
  right: 40px;
  color: black;
  background-color: #e8e8e8;
  background-opacity: 70%;
  border-radius: 1em;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 50%;
}


/* DECOR */

.mobile_background{
  opacity: 0;
  width: 0px;
  height: 0px;
}

.forest{
  width: 100vw;
  height: 100vh;
}

.menhir{
  position: absolute;
  bottom: 0px;
  left: 100px;
  width: 15%;
  transform: rotateY(180deg);
}

.tree{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 25%;
}

/* LEAVES */

.leaf1{
  width: 7%;
  position: absolute;
  top: 50px;
  left: 50px;
  opacity: 50%;
  transition: opacity 0.6s ease, transform 0.4s ease;
}

.leaf1:hover{
  transform: rotate(180deg);
}

.leaf2{
  width: 7%;
  position: absolute;
  top: 150px;
  left: 150px;
  opacity: 70%;
  transition: opacity 0.6s ease, transform 0.4s ease;
}

.leaf2:hover{
  transform: rotate(180deg);
}

.leaf3{
  width: 7%;
  position: absolute;
  top: 100px;
  right: 150px;
  opacity: 70%;
  transition: opacity 0.6s ease, transform 0.4s ease;
}

.leaf3:hover{
  transform: rotate(180deg);
}

.leaf4{
  width: 7%;
  position: absolute;
  top: 120px;
  right: 100px;
  opacity: 70%;
  transition: opacity 0.6s ease, transform 0.4s ease;
}

.leaf4:hover{
  transform: rotate(180deg);
}

.leaf5{
  width: 7%;
  position: absolute;
  top: 0px;
  right: 400px;
  opacity: 80%;
  transition: opacity 0.6s ease, transform 0.4s ease;
}

.leaf5:hover{
  transform: rotate(180deg);
}

.leaf6{
  width: 7%;
  position: absolute;
  top: 550px;
  right: 400px;
  opacity: 80%;
  transition: opacity 0.6s ease, transform 0.4s ease;
}

.leaf6:hover{
  transform: rotate(180deg);
}

.leaf7{
  width: 7%;
  position: absolute;
  top: 500px;
  left: 100px;
  opacity: 80%;
  transition: opacity 0.6s ease, transform 0.4s ease;
}

.leaf7:hover{
  transform: rotate(180deg);
}

.leaf8{
  width: 20%;
  position: absolute;
  top: 497px;
  left: 300px;
  opacity: 80%;
  z-index: 1;
}


.leaf9{
  width: 5%;
  position: absolute;
  top: 400px;
  left: 600px;
  opacity: 80%;
  transition: opacity 0.6s ease, transform 0.4s ease;
}

.leaf9:hover{
  transform: rotate(180deg);
}

.leaf10{
  width: 5%;
  position: absolute;
  top: 150px;
  left: 400px;
  opacity: 70%;
  transition: opacity 0.6s ease, transform 0.4s ease;
}

.leaf10:hover{
  transform: rotate(180deg);
}
 /* LEAF ANIMATION */
.leaf1, .leaf2, .leaf3, .leaf4, .leaf5, .leaf6, .leaf7, .leaf8, .leaf9, .leaf10{
  animation-name: tourner;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes tourner{ /* animation de l'horloge, on peut nommer nous-même l'animation */
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

/* ANIMALS */

.owl{
  width: 5%;
  position: absolute;
  top: 325px;
  right: 400px;
  opacity: 80%;
}

.owl:hover{
  filter: invert(100%);
}

.fox{
  width: 20%;
  position: absolute;
  bottom: -15px;
  right: 20px;
  transform: rotateY(180deg);
  opacity: 80%;
}

.fox:hover{
  filter: invert(100%);
}

.badger{
  width: 20%;
  position: absolute;
  bottom: 0px;
  left: 350px;
  opacity: 80%;
}

.snake{
  width: 6%;
  position: absolute;
  top: 120px;
  left: 220px;
  opacity: 80%;
}

.snake:hover{
  filter: invert(100%);
}

/* CROW */

.crow.etat1{
  width: 5%;
  position: absolute;
  top: 210px;
  right: 500px;
}

.crow.etat2{
  width: 3%;
  position: absolute;
  top: 80px;
  left: 200px;
}

.crow.etat3{
  width: 5%;
  position: absolute;
  top: 355px;
  left: 240px;
  transform: rotateY(180deg);
}

.crow.etat4{
  width: 5%;
  position: absolute;
  top: 200px;
  right: 50px;
  transform: rotateY(180deg);
  opacity: 80%;
  z-index: 1;
}

/* ----------------------------- */
/* PHONES & SMALL SCREENS
/* ----------------------------- */

@media screen and (max-width: 730px){

  .skull{
    position: absolute;
    top: 20px;
    left: 20px;
    filter: drop-shadow(black 1rem 1rem 10px);
    width: 70px;
  }

  h2{
    position: absolute;
    top: 30px;
    right: 20px;
  }

  .mobile_background{
    position: absolute;
    top: 0px;
    width: auto;
    height: 100%;
    opacity: 1;
    z-index: -1;
  }

  .forest{
    opacity: 0;
    width: 0%;
    height: 0%;
  }

    /* ANIMALS */

  .owl{
    width: 8%;
    position: absolute;
    top: 65px;
    right: 40px;
    opacity: 80%;
  }

  .fox{
    width: 40%;
    position: absolute;
    bottom: 0px;
    right: 20px;
    transform: rotateY(180deg);
    opacity: 80%;
  }

  .badger{
    width: 30%;
    position: absolute;
    bottom: 0px;
    left: 50px;
    opacity: 80%;
  }

  .snake{
    width: 20%;
    position: absolute;
    top: 120px;
    left: 220px;
    opacity: 80%;
  }

  /* CROW */

  .crow.etat1{
    width: 50px;
    position: absolute;
    top: 380px;
    right: 60px;
  }

  .crow.etat2{
    width: 30px;
    position: absolute;
    top: 480px;
    left: 20px;
  }

  .crow.etat3{
    width: 25px;
    position: absolute;
    top: 355px;
    left: 240px;
    transform: rotateY(180deg);
  }

  .crow.etat4{
    width: 30px;
    position: absolute;
    top: 200px;
    right: 50px;
    transform: rotateY(180deg);
    opacity: 80%;
    z-index: 1;
  }

  .menhir{
    position: absolute;
    bottom: 0px;
    left: 100px;
    width: 25%;
    transform: rotateY(180deg);
  }

  .tree{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50%;
  }

  /* LEAVES */

  .leaf1{
    width: 7%;
    position: absolute;
    top: 50px;
    left: 50px;
    opacity: 50%;
    transition: opacity 0.6s ease, transform 0.4s ease;
  }

  .leaf2{
    width: 15%;
    position: absolute;
    top: 150px;
    left: 150px;
    opacity: 70%;
    transition: opacity 0.6s ease, transform 0.4s ease;
  }

  .leaf3{
    width: 18%;
    position: absolute;
    top: 100px;
    right: 150px;
    opacity: 70%;
    transition: opacity 0.6s ease, transform 0.4s ease;
  }

  .leaf4{
    width: 11%;
    position: absolute;
    top: 120px;
    right: 100px;
    opacity: 70%;
    transition: opacity 0.6s ease, transform 0.4s ease;
  }

  .leaf5{
    width: 15%;
    position: absolute;
    top: 0px;
    right: 40px;
    opacity: 80%;
    transition: opacity 0.6s ease, transform 0.4s ease;
  }

  .leaf6{
    width: 9%;
    position: absolute;
    top: 550px;
    right: 400px;
    opacity: 80%;
    transition: opacity 0.6s ease, transform 0.4s ease;
  }

  .leaf7{
    width: 7%;
    position: absolute;
    top: 500px;
    left: 100px;
    opacity: 80%;
    transition: opacity 0.6s ease, transform 0.4s ease;
  }

  .leaf8{
    width: 20%;
    position: absolute;
    top: 497px;
    left: 30px;
    opacity: 80%;
    z-index: 1;
  }


  .leaf9{
    width: 12%;
    position: absolute;
    top: 400px;
    left: 60px;
    opacity: 80%;
    transition: opacity 0.6s ease, transform 0.4s ease;
  }

  .leaf10{
    width: 10%;
    position: absolute;
    top: 150px;
    left: 60px;
    opacity: 70%;
    transition: opacity 0.6s ease, transform 0.4s ease;
  }


}