/* ----------------------------- */
/* Reset CSS
/* ----------------------------- */

@charset "UTF-8";
html {
  /* on s'arrange pour que 1rem soit égal à 10px */
  font-size: 62.5%;
  /* IE9-IE11 */
  font-size: calc(1em * 0.625);
}

/* la suite du reset permet d'enlever les marges par défaut créées par les navigateurs */
/* et de donner un comportement plus intuitif aux principaux éléments */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul, menu {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img{
  max-width: 100%;
  height: auto;
}
a{
  color: inherit;
  text-decoration: none;
}
h1, h2, h3, h4, h5{
  font-weight: normal;
}
*[role='button']{
	cursor: pointer;
	user-select: none;
}

/* ----------------------------- */
/* Fonts 
/* ----------------------------- */

@font-face {
    font-family: 'IM FELL Regular';
    src: url('../fonts/IM_FELL_DW_Pica_Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IM FELL Italic';
    src: url('../fonts/IM_FELL_DW_Pica_Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'RoutedGothic';
    src: url('../fonts/RoutedGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
  font-family: 'IM Fell Pica', Arial, sans-serif;
  font-size: 1.6rem; /* 1.6rem = 16px dans notre cas */
  line-height: 1.2;
}

/* ----------------------------- */
/* MENU SET UP
/* ----------------------------- */

/* SKULL MENU */

.skull{
  position: absolute;
  top: 30px;
  left: 30px;
  filter: drop-shadow(black 1rem 1rem 10px);
}

.skull:hover{
  filter: invert(100%);
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #e8e8e8; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; 
}

/* The navigation menu links */
.sidenav a {
  font-family: "IM FELL Regular";
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  line-height: 40px;
  color: #111;
  display: block;
  transition: 0.3s;
  text-wrap: nowrap;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  font-family: 'IM FELL Italic';
  color: #8CA0D7;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* ----------------------------- */
/* Design général
/* ----------------------------- */

/* TITLE */

h2{
  font-family: 'IM FELL Regular' ;
  position: absolute;
  top: 30px;
  right: 40px;
  color: black;
  background-color: #e8e8e8;
  background-opacity: 70%;
  border-radius: 1em;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 50%;
}

/* ELEMENTS DE DECOR */

.mobile_background{
  opacity: 0;
}

.background{
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.stone1{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 15%;
  z-index: 2;
}

.stone2{
  position: absolute;
  left: 400px;
  bottom: 10px;
  width: 15%;
  z-index: -1;
}

.church{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 80%;
}

.owl{
  width: 5%;
  position: absolute;
  right: 30px;
  top: 350px;
}

.babyowl{
  width: 2%;
  position: absolute;
  right: 640px;
  top: 175px;
  transform: scaleX(-1.0);
}

.fox{
  width: 10%;
  position: absolute;
  bottom: 10px;
  left: 80px;
  opacity: 70%;
}

/* CROW */

.crow.etat1{
  width: 60px;
  height: 60px;
  position: absolute;
  top: 610px;
  left: 450px;
  z-index: 1;

}

.crow.etat2{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 330px;
  right: 640px;
}

.crow.etat3{
  width: 200px;
  height: 200px;
  position: absolute;
  transform: scaleX(-1.0); ;
  bottom:100px;
  right: 300px;
}

/* ----------------------------- */
/* PHONES & SMALL SCREENS
/* ----------------------------- */

@media screen and (max-width: 730px){

  .skull{
    position: absolute;
    top: 20px;
    left: 20px;
    filter: drop-shadow(black 1rem 1rem 10px);
    width: 70px;
  }

  h2{
    position: absolute;
    top: 30px;
    right: 20px;
  }

  .mobile_background{
    position: absolute;
    top: 0px;
    width: auto;
    height: 100%;
    opacity: 1;
    z-index: -1;
  }

  .background{
    opacity: 0;
    width: 0%;
    height: 0%;
  }

  .stone1{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 15%;
    z-index: 2;
  }

  .stone2{
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .church{
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .owl{
    width: 10%;
    position: absolute;
    right: 30px;
    top: 350px;
  }

  .babyowl{
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .fox{
    width: 30%;
    position: absolute;
    bottom: 10px;
    left: 170px;
    opacity: 70%;
  }

  /* CROW */

  .crow.etat1{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 500px;
    left: 250px;
    z-index: 1;

  }

  .crow.etat2{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 60px;
    left: 180px;
  }

  .crow.etat3{
    width: 300px;
    height: 300px;
    position: absolute;
    transform: scaleX(-1.0); ;
    top: 170px;
    left: 30px;
    z-index: 2;
  }



}