/* ----------------------------- */
/* Reset CSS
/* ----------------------------- */

@charset "UTF-8";
html {
  /* on s'arrange pour que 1rem soit égal à 10px */
  font-size: 62.5%;
  /* IE9-IE11 */
  font-size: calc(1em * 0.625);
}


/* la suite du reset permet d'enlever les marges par défaut créées par les navigateurs */
/* et de donner un comportement plus intuitif aux principaux éléments */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul, menu {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img{
  max-width: 100%;
  height: auto;
}
a{
  color: inherit;
  text-decoration: none;
}
h1, h2, h3, h4, h5{
  font-weight: normal;
}
*[role='button']{
	cursor: pointer;
	user-select: none;
}

/* ----------------------------- */
/* Site_find_the_crow
/* ----------------------------- */

/* ----------------------------- */
/* Design général
/* ----------------------------- */

@font-face {
    font-family: 'Fiddums Family';
    src: url('FiddumsFamilyFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IM FELL Regular';
    src: url('../fonts/IM_FELL_DW_Pica_Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font-container {
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 40px;
    white-space: nowrap;
    padding-bottom: 5px;
}

body{
	font-family: 'IM FELL Regular';
	font-size: 6rem; /* 1.6rem = 16px dans notre cas */
}

header{
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  color: black;
  background: transparent;
  z-index: 0;
}

.crow{
  width: 250px;
  height: 250px;
  position: absolute;
  right: 108px;
  top: 117px;
  transform: scaleX(-1.0);
  z-index: 3;
}

.crow:hover{
  filter: invert(100%);
}

.grave{
  position: absolute;
  bottom: 0px;
  z-index: 2;
  max-width: 100%;
}

.ghost{
  width: 10%;
  position: absolute;
  top: 4rem;
  left: 5rem;
  z-index: 3;
}

.statue{
  position: absolute;
  bottom: 0px;
  left: 150px;
  width: 16%;
  z-index: 1;
}

.mobile_background{
  opacity: 0;
  position: absolute;
  top: 0px;
  height: 0px;
}

.cemeterytree{
  position: absolute;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: -1;
}

/* ----------------------------- */
/* PHONES & SMALL SCREENS
/* ----------------------------- */

@media screen and (max-width: 730px){

  header{
    display: flex;
    padding-top: 16rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 3rem;
    z-index: 0;
  }

  .mobile_background{
    position: absolute;
    top: 0px;
    width: 100%;
    height: auto;
    opacity: 1;
    z-index: -1;
  }

  .font-container {
    white-space: normal;
    margin-bottom: 40px;
    padding-bottom: 5px;
  }

  .crow{
    width: 130px;
    height: 130px;
    position: absolute;
    top: 47%;
    left: 100px;
    transform: scaleX(-1.0);
    z-index: 3;
  }

  .crow:hover{
    filter: invert(100%);
  }

  .ghost{
    width: 25%;
    position: absolute;
    top: 4rem;
    left: 5rem;
    z-index: 3;
  }

  .statue{
    width: 50%;
    z-index: 1;
  }

  .cemeterytree{
    opacity: 0;
  }

}